/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 300;
}

.body {
    display: flex;
}

.main {
    display: flex;
}

footer {
    color: #fff;
    padding: 100px;
    text-align: center;
    background-color: #333;
}

.navBar {
    display: flex;
    background-color: #333;
    padding: 10px;  
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.logo {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.navBar li {
    margin: 10px;
    text-align: center;
}

.nav-item {
    color: #fff;
    text-decoration: none;
}

.nav-item + .nav-item {
    margin-left: 20px;
}

/* media */
.introduction {
    text-align: center;
}

.book-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
.book-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.book-container img {
    max-width: 100%; 
    height: auto;
}

/* phone screen szie */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    .navBar {
        flex-direction: column;
    }   

    .nav-list {
        flex-direction: column;
    }
    .book-container {
        grid-template-columns: auto;
    }
}

/* ipad */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .nav-list {
        flex-direction:row;
    }
    .navBar li {
        margin: 10px 20px;
    }
    .book-container {
        grid-template-columns: auto auto ;
    }    
}

/* regular website */
@media only screen and (min-width: 1024px) {

    .nav-list {
        flex-direction:row;
        justify-content: space-between;
    }
    .navBar li {
        margin: 10px 40px;
    }

}


